img {
  width: 400px;
}
body {
  background-color: rgb(92, 89, 89);
}

p.intro-paragraph {
  white-space: pre-wrap;
}
p.paragraph2 {
  white-space: pre-wrap;
}
img.youtube {
  vertical-align: middle;
  width: 70px;
}
img.spotify {
  vertical-align: middle;
  width: 70px;
}

img.FB {
  vertical-align: middle;
  width: 70px;
  border-radius: 50px;
}
